<footer class="footer bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <!-- Company Info -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">ECR-UI</h5>
          <p>
            ECR-UI is a leading provider of payment solutions. Our mission is to ensure the safety of your payment with cutting-edge technology and innovative solutions.
          </p>
        </div>
        
        <!-- Useful Links -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Useful Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Services</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contact</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Sign In</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Sign Up</a>
            </li>
          </ul>
        </div>
        
        <!-- Social Media Links -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark"><i class="fab fa-facebook-f"></i> Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="fab fa-instagram"></i> Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
      © 2024 ECR-UI. All rights reserved.
    </div>
  </footer>