<div>
    <div class="status-container">
      <h1>WebSocket Client</h1>
      <button (click)="OpenSettingDialog()" class="btn btn-primary">Setting</button>
    </div>
    <p>Status: {{ connectionStatus }}</p>
    <p>Mode: </p>
    <ng-container *ngIf="_sharedData.settings.communicationMode === 'single'">
      <app-single-mode></app-single-mode>
    </ng-container>
  
    <ng-container *ngIf="_sharedData.settings.communicationMode === 'multiple'">
      <app-multiple-mode></app-multiple-mode>
    </ng-container>

  </div>
  